/** CSS file created automatically by Smartest at: %TIME% **/

div.breaker{
    clear:both;
    height:1px;
}

#container{
    max-width:900px;
    margin:0 auto;
}

#nav{
    margin:10px 0;
}

#nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

#nav ul li{
    display:inline-block;
    margin-right:8px;
}

#footer{
    font-size:0.8em;
}