/*** Style ***/

#admin-menu{
    /* background: rgb(227,227,227); */
    background: rgb(237,237,237);
    background: linear-gradient(180deg, rgba(237,237,237,1) 0%, rgba(211,218,219,1) 100%);
}

#admin-menu ul{
	list-style-type:none;
}

#admin-menu ul li{
	font-size:12px;
	margin:0px;
	background-repeat:no-repeat;
	background-position:10px 50%;
}

/* #admin-menu ul li a{
	
} */

#admin-menu ul li a i{
	font-size:1.2em;
	margin-right:8px;
}

#admin-menu ul li a i.fa{
    font-size:1.3em;
}

#admin-menu ul li.off a{
	color: #333;
}

#admin-menu ul li.off a:hover{
	text-decoration:none;
}

#admin-menu ul li.on a{
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

#admin-menu ul li.on a:hover{
	text-decoration:none;
}

#admin-menu ul li.on{
	background-color:#68849E;
}

#admin-menu ul li.site-top-level{
    font-weight:bold;
}

/* #nav-pages.on{background-image:url(../Images/leftnav-pages-on.png)}
#nav-pages.off{background-image:url(../Images/leftnav-pages-off.png)}

#nav-items.on{background-image:url(../Images/leftnav-items-on.png)}
#nav-items.off{background-image:url(../Images/leftnav-items-off.png)}

#nav-files.off{background-image:url(../Images/leftnav-files-off.png)}
#nav-files.on{background-image:url(../Images/leftnav-files-on.png)}

#nav-templates.off{background-image:url(../Images/leftnav-templates-off.png)}
#nav-templates.on{background-image:url(../Images/leftnav-templates-on.png)}

#nav-users.off{background-image:url(../Images/leftnav-users-off.png)}
#nav-users.on{background-image:url(../Images/leftnav-users-on.png)}

#nav-metadata.off{background-image:url(../Images/leftnav-metadata-off.png)}
#nav-metadata.on{background-image:url(../Images/leftnav-metadata-on.png)}

#nav-settings.off{background-image:url(../Images/leftnav-settings-off.png)}
#nav-settings.on{background-image:url(../Images/leftnav-settings-on.png)}

#nav-sites.off{background-image:url(../Images/leftnav-sites-off.png)}
#nav-sites.on{background-image:url(../Images/leftnav-sites-on.png)}

#nav-profile.off{background-image:url(../Images/leftnav-users-off.png)}
#nav-profile.on{background-image:url(../Images/leftnav-users-on.png)}

#nav-about.off{background-image:url(../Images/leftnav-about-off.png)}
#nav-about.on{background-image:url(../Images/leftnav-about-on.png)} */

/*** Layout ***/

#admin-menu{
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	/* height:100%;
	min-height:300px; */
    -webkit-transition: width 0.4s; /* Safari */
    transition: width 0.4s;
	z-index:15;
}

#admin-menu #admin-menu-toggle{
    position:absolute;
    right:10px;
    bottom:10px;
}

body.nav-expanded #admin-menu{
    width:175px;
}

body.nav-contracted #admin-menu{
    width:38px;
}

#admin-menu ul{
	padding:0px;
	margin:0px;
	padding-top:55px;
    overflow:hidden;
}

#admin-menu ul li{
	display:block;
	height:30px;
    width:175px;
}

#admin-menu ul li{
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

#admin-menu ul li a{
    padding-left:12px;
	/* display:table-cell;
	vertical-align:middle; */
	display:block;
	height:30px;
}

#admin-menu ul li a span.option-holder i{
	/* padding-top:3px; */
	display:inline-block;
    min-width:18px;
}

#admin-menu ul li a span.option-holder{
	  display:table-cell;
		vertical-align:middle;
		height:30px;
}

#admin-menu ul li a span.option-holder span.option-name{
    -webkit-transition: width 0.4s; /* Safari */
    transition: width 0.4s;
}

body.nav-expanded #admin-menu ul li a span.option-holder span.option-name{
    
}

body.nav-contracted #admin-menu ul li a span.option-holder span.option-name{
    width:0px!important;
    /* display:none; */
    overflow:hidden;
}

#admin-menu ul li.off a{
	/* padding-left:10px; 
	padding-top:7px;*/
	height:22px;
	/* display:block; */
}

#admin-menu ul li.off:hover{
    background-color:#d9d9d9;
}

#admin-menu ul li.on a{
	/* padding-left:10px; 
	padding-top:7px;*/
	height:22px;
	/* display:block; */
}

#admin-menu ul li.break{
    margin-top:10px;
}