html{
    height:100%
}

body{
	margin:0px;
	overflow-x:hidden;
	height:100%;
	overflow-y:auto;
	padding:0px;
}

form{
	margin:0px;
	width:100%;
}

div{
	text-align:left;
}

div.breaker{
    clear:both;
}

div.v-spacer{
    clear:both;
    height:20px;
}

#top-strip{
    position:absolute;
    /* top:0px;
    left:0px; */
	height:48px;
	border:0px;
	padding-left:5px;
	z-index:20;
	width:100%;
}

/* #top-strip img{
	display:block;
} */

div#user-info{
	position:absolute;
	right:0px;
	top:14px;
	/* width:100%; */
	height:20px;
	z-index:22;
}

#smartest-frame{
    position:relative;
    min-height:100%;
}

div#global-container{
	width:850px;
	padding:0px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

div#main-interface-container{
	padding:0px;
	text-align:left;
}

div#main-interface-container h3{
	margin-left:0px;
	margin-top:10px;
}

div#main-interface{
	margin:10px;
	width:100%;
}

#work-area{
	margin:0px;
	padding:60px 220px 7px 185px;
	min-height:100%;
}

#work-area-full{
	margin:0px;
	padding:60px 10px 7px 185px;
	min-height:100%;
}

div#work-area h3, div#work-area-full h3{
	margin:0px;
	margin-bottom:10px;
    /* padding:9px; */
}

div#modal-work-area{
    
}

div#modal-work-area h3{
    /* margin:0 0 10px 0; */
}

div#work-area h4, div#work-area-full h4{
	margin:0px;
	margin-bottom:7px;
    /* padding:5px; */
}

div#work-area div.edit-form-row h4{
    padding:5px 0 2px 0;
}

div#work-area textarea#tpl_textArea, div#work-area-full textarea#tpl_textArea{
	height:300px;
	width:100%;
	padding:0;
	margin:0;
	display:block;
	clear:both;
}

div.textarea-holder{
    height:314px;
    clear:both;
}

#actions-area{
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	/* height:100%; */
	width:200px;
	z-index:16;
	padding:5px;
	padding-top:55px;
}

#modal-actions-area{
    /* This is a hack */
    display:none;
}

#actions-area .special-box{}
    
#actions-area .special-box p{margin:3px}

div.top-pad{
	width:100%;
	height:30px;
}

/*** Messages ***/

#top-bar-message-container{
    /* position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:99; */
}

div.ui-message-inner{
    padding:7px 7px 7px 32px;
}

div.ui-message div.ui-message-inner{
    background-repeat:no-repeat;
    background-position:8px 7px;
}

div.ui-message.access-msg div.ui-message-inner{
    background-position:10px 7px;
}

div.ui-message p{
    margin:0px;
    font-size:0.8em;
    color:#fff;
}

div.ui-message a.dismiss{
    float:right;
    display:inline-block;
    margin-right:2px;
    width:16px;
    height:16px;
}


ul#item-specific-actions{
	margin-bottom:10px;
	padding-bottom:10px;
}

/*** Preview stuff ***/

#preview-container{
    position:relative;
    min-height:515px;
}

div.preview-component{
    position:absolute;
}

#preview-menu{
    top:0px;
    left:0px;
}

#preview-actions-menu{
    position:absolute;
	top:24px;
	left:0px;
	z-index:10;
}

#preview-files-menu{
    position:absolute;
	top:24px;
	left:57px;
	z-index:10;
}

#preview{
	/* margin:4px 40px 0 0;
	clear:both;
	padding:3px;
	text-align:right;
	position:absolute;
	top:154px;
	left:173px;
	right:10px; */
	top:30px;
	left:0px;
	width:100%;
}

#preview-iframe{
	display:block;
	width:100%;
}

#preview-loading{
    top:30px;
	left:0px;
	width:100%;
	padding-top:50px;
	text-align:center;
}

#preview-slow{
    padding-top:50px;
    text-align:center;
    width:100%;
    top:30px;
	left:0px;
}

#preview-failed{
    padding-top:50px;
    text-align:center;
    top:30px;
	left:0px;
	width:100%;
}

/*** Forms stuff ***/

div.edit-form-row{
    padding:5px 0px;
    margin-top:10px;
    clear:both;
}

p.editable{
    margin:0px;
    padding:4px;
}

p.editable-hover{
    border:1px solid #F4842A;
}

div.instruction{
	margin-bottom:10px;
	margin-left:0px;
}

div.form-section-label{
	margin:0px;
	margin-bottom:5px;
	padding:0 5px;
	width:183px;
	float:left;
	clear:left;
	text-align:right;
	margin-right:5px;
}

div.form-section-label-full{
	margin:0px;
	margin-bottom:8px;
	padding:5px;
	clear:both;
}

div.form-edit-components-container{
    float:left;
    margin-bottom:8px;
}

span.form-hint{
    padding-left:6px;
}

div.form-hint{
    float:left;
    padding:1px 6px 6px 198px;
    clear:both;
}

div.buttons-bar{
	margin:0px;
	padding:4px;
	text-align:right;
	clear:both;
}

/*** Special and warning boxes ***/

div.special-box, div.warning{
    clear:both;
}

div.special-box-key{
    width:100px;
    float:left;
    padding-top:3px;
}

div.special-box select{
    width:250px;
}

div.warning{
    padding:10px;
    margin:10px 0 10px 0;
}

div.warning p{
    margin:0 0 5px 0;
}

div.warning ul{
    margin:0px;
    padding:0 0 0 20px;
}

form.float{
    float:left;
    display:inline;
}

div#footer{
	text-align:center;
	float:left;
	width:100%;
}

/*** Action buttons below each property on edit item screen ***/

ul.item_property_actions{
    margin:0px;
    padding:0 0 0 198px;
    height:31px;
    clear:left;
}

ul.item_property_actions li{
    margin:3px 5px 0 0;
    float:left;
}

ul.item_property_actions li a{
    padding:4px;
    display:block;
}

ul.item_property_actions li a img, ul.item_property_actions li a i{
    display:block;
		width:16px;
		height:16px;
}

ul.item_property_actions li a i{
	text-align:center;
}

ul.apps{
    margin:0px;
    padding:20px 0 0 0;
}

ul.apps li{
    width:200px;
    display:block;
    float:left;
    text-align:center;
    margin-bottom:40px;
    position:relative;
    min-height:170px;
}

ul.apps li a.icon{
    margin-top:5px!important;
    width:120px;
    height:120px;
    /* margin-top:2px!important; */
    display:inline-block;
    text-align:center;
    margin-bottom:15px;
}

ul.apps li a.icon:hover{
    margin-top:2px!important;
    width:126px;
    height:126px;
    margin-bottom:10px;
}

ul.apps li a.label{
    position:absolute;
    left:0px;
    top:140px;
    width:100%;
}

ul.modal-options-grid{
    margin:0px!important;
    padding:0px!important;
}

ul.modal-options-grid li{
    width:120px;
    height:120px;
    float:left;
    margin:0 0 3px 3px;
}

ul.modal-options-grid li a{
    width:120px;
    height:20px;
    display:block;
    padding-top:100px;
}

/*** Asset preview ***/

#html-preview{
    margin-bottom:10px;
}

#html-preview p:last-child{
    margin-bottom:0px;
}

#html-preview pre{
    margin:0px;
}

#html-preview div.smartest-column{
    float:left;
    margin-right:10px;
}

#html-preview h1, #html-preview h2, #html-preview h3, #html-preview h4, #html-preview h5, #html-preview h6, #html-preview p{
    margin-top:0px;
}

#html-preview div.smartest-column.last{
    margin-right:0px;
}

#html-preview div.column-width-2{
    width:48%;
}                
                 
#html-preview div.column-width-3{
    width:31%;  
}                
                 
#html-preview div.column-width-4{
    width:23%;
}

/*** Favourites bar ***/

#smartest-favourites.open{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    z-index:25;
}

#smartest-favourites.closed{
    position:fixed;
    left:0px;
    bottom:0px;
    width:24px;
    height:24px;
    z-index:25;
}

#smartest-favourites.closed ul{
    display:none;
}