html{
    height:100%
}

body{
	margin:0px;
	overflow-x:hidden;
	height:100%;
	overflow-y:auto;
	padding:0px;
}

form{
	margin:0px;
	width:100%;
}

div{
	text-align:left;
}

div.breaker{
    clear:both;
}

div.v-spacer{
    clear:both;
    height:20px;
}

#top-strip{
    position:absolute;
    /* top:0px;
    left:0px; */
	height:45px;
	/* border:0px; */
	padding-left:5px;
	z-index:20;
	width:100%;
    box-sizing:border-box;
}

/* #top-strip img{
	display:block;
} */

div#user-info{
	position:absolute;
	right:0px;
	top:12px;
	/* width:100%; */
	height:20px;
	z-index:22;
}

#user-profile-pic-holder-big{
    width:180px;
    height:180px;
    border:1px solid #ccc;
    border-radius:91px;
    -moz-border-radius:91px;
    -webkit-border-radius:91px;
    -o-border-radius:91px;
    background-repeat:no-repeat;
}

#smartest-frame{
    position:relative;
    min-height:100%;
}

div#global-container{
	width:850px;
	padding:0px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
}

div#main-interface-container{
	padding:0px;
	text-align:left;
}

div#main-interface-container h3{
	margin-left:0px;
	margin-top:10px;
}

div#main-interface{
	margin:10px;
	width:100%;
}

#work-area{
	margin:0px;
	padding:60px 220px 7px 185px;
	min-height:100%;
}

#work-area-full{
	margin:0px;
	padding:60px 10px 7px 185px;
	min-height:100%;
}

div#work-area h3, div#work-area-full h3{
	margin:0px;
	margin-bottom:10px;
    /* padding:9px; */
}

div#modal-work-area{
    
}

div#modal-work-area h3{
    /* margin:0 0 10px 0; */
}

div#work-area h4, div#work-area-full h4{
	margin:0px;
	margin-bottom:7px;
    /* padding:5px; */
}

div#work-area div.edit-form-row h4{
    padding:5px 0 2px 0;
}

div#work-area textarea#tpl_textArea, div#work-area-full textarea#tpl_textArea{
	height:300px;
	width:100%;
	padding:0;
	margin:0;
	display:block;
	clear:both;
}

div.textarea-holder{
    height:314px;
    clear:both;
}

#actions-area{
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	/* height:100%; */
	width:200px;
	z-index:16;
	padding:5px;
	padding-top:55px;
}

#modal-actions-area{
    /* This is a hack */
    display:none;
}

#actions-area .special-box{}
    
#actions-area .special-box p{margin:3px}

div.top-pad{
	width:100%;
	height:30px;
}

/*** Messages ***/

#top-bar-message-container{
    /* position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:99; */
}

div.ui-message-inner{
    padding:7px 7px 7px 32px;
}

div.ui-message div.ui-message-inner{
    background-repeat:no-repeat;
    background-position:8px 7px;
}

div.ui-message.access-msg div.ui-message-inner{
    background-position:10px 7px;
}

div.ui-message p{
    margin:0px;
    font-size:0.8em;
    color:#fff;
}

div.ui-message a.dismiss{
    float:right;
    display:inline-block;
    margin-right:2px;
    width:16px;
    height:16px;
}


ul#item-specific-actions{
	margin-bottom:10px;
	padding-bottom:10px;
}

/*** Preview stuff ***/

#preview-container{
    position:relative;
    min-height:515px;
}

div.preview-component{
    position:absolute;
}

#preview-menu{
    top:0px;
    left:0px;
}

#preview-actions-menu{
    position:absolute;
	top:24px;
	left:0px;
	z-index:10;
}

#preview-files-menu{
    position:absolute;
	top:24px;
	left:57px;
	z-index:10;
}

#preview{
	/* margin:4px 40px 0 0;
	clear:both;
	padding:3px;
	text-align:right;
	position:absolute;
	top:154px;
	left:173px;
	right:10px; */
	top:30px;
	left:0px;
	width:100%;
}

#preview-iframe{
	display:block;
	width:100%;
}

#preview-loading{
    top:30px;
	left:0px;
	width:100%;
	padding-top:50px;
	text-align:center;
}

#preview-slow{
    padding-top:50px;
    text-align:center;
    width:100%;
    top:30px;
	left:0px;
}

#preview-failed{
    padding-top:50px;
    text-align:center;
    top:30px;
	left:0px;
	width:100%;
}

/*** Forms stuff ***/

#primary-ajax-loader{
    position:absolute;
    top:55px;
    right:220px;
}

#primary-ajax-loader.scrolled{
    position:fixed;
    top:10px;
}

#primary-ajax-loader.fullwidth{
    right:10px;
}

div.edit-form-row{
    padding:5px 0px;
    margin-top:10px;
    clear:both;
}

div.edit-form-sub-row{
    box-sizing:border-box;
    padding-left:200px;
}

p.editable{
    margin:0px;
    padding:4px;
}

p.editable-hover{
    border:1px solid #F4842A;
}

div.instruction{
	margin-bottom:10px;
	margin-left:0px;
}

div.form-section-label{
	margin:0px;
	margin-bottom:5px;
	padding:0 5px;
	width:183px;
	float:left;
	clear:left;
	text-align:right;
	margin-right:5px;
}

div.form-section-label-full{
	margin:0px;
	margin-bottom:4px;
	padding:5px 0;
	clear:both;
}

div.edit-form-row input[type="text"], div.edit-form-row input[type="password"], div.special-box input[type="text"], table.info-table tr td input[type="text"]{
	width:400px;
	height:25px;
	padding:3px;
}

div.edit-form-row input[type="text"].color{
    width:80px;
    height:80px;
    border-radius:50px;
    text-align:center;
    outline:none;
    font-family:"source-sans";
}

div.edit-form-row select{
	width:380px;
}

div.form-edit-components-container{
    float:left;
    margin-bottom:8px;
}

span.form-hint{
    padding-left:6px;
}

div.form-hint{
    float:left;
    padding:1px 6px 6px 198px;
    clear:both;
    width:100%;
    box-sizing:border-box;
}

div.buttons-bar{
	margin:20px 0 0 0;
	padding:4px;
	text-align:right;
	clear:both;
}

ul.round-buttons-list{
    margin:0px;
    padding:5px;
}

ul.round-buttons-list li{
    display:inline-block;
    text-align:center;
    margin-right:2px;
}

ul.round-buttons-list li a{
    display:block;
    padding:8px 3px;
    box-sizing:border-box;
    width:40px;
    height:40px;
}

div.sm-boolean-switch{
    display:inline-block;
    position:relative;
    border:1px solid #aaa;
    width:50px;
    height:22px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    -o-border-radius:15px;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    transition: all 0.3s;
    overflow:hidden;
}

div.sm-boolean-switch.on{
    /* background-color:#82e914; */
    background-color:#16e787;
}

div.sm-boolean-switch.on.red{
    background-color:#f94d2b;
}

div.sm-boolean-switch.off{
    /* background-color:#f94d2b; */
    background-color:#eee;
}

a.sm-boolean-switch-inner{
    display:block;
    height:22px;
    width:78px;
    position:absolute;
    top:0px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    -o-border-radius:15px;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    transition: all 0.3s;
    -webkit-box-shadow: inset -1px 1px 2px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: inset -1px 1px 2px 0px rgba(0,0,0,0.54);
    box-shadow: inset -1px 1px 2px 0px rgba(0,0,0,0.54);
}

div.sm-boolean-switch.on a.sm-boolean-switch-inner{
    left:0px;
}

div.sm-boolean-switch.off a.sm-boolean-switch-inner{
    left:-28px;
}

a.sm-boolean-switch-inner span.sm-boolean-switch-target{

    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -o-border-radius:12px;
    display:block;
    float:left;
    background-color:#fff;
    height:20px;
    width:20px;
    
    -webkit-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.54);
    box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.54);
    
}

div.sm-boolean-switch.on a.sm-boolean-switch-inner span.sm-boolean-switch-target{
    border:1px solid #16e787;
}

div.sm-boolean-switch.on.red a.sm-boolean-switch-inner span.sm-boolean-switch-target{
    border:1px solid #fb674a;
}

div.sm-boolean-switch.off a.sm-boolean-switch-inner span.sm-boolean-switch-target{
    /* border:1px solid #fb674a; */
    border:1px solid #999;
}

a.sm-boolean-switch-inner span.sm-boolean-switch-on-label, a.sm-boolean-switch-inner span.sm-boolean-switch-off-label{
    width:28px;
    display:block;
    float:left;
    text-decoration:none;
    text-align:center;
    text-transform:uppercase;
    padding-top:5px;
    font-size:0.8em;
}

a.sm-boolean-switch-inner span.sm-boolean-switch-off-label{
    width:24px;
}

a.sm-boolean-switch-inner span.sm-boolean-switch-on-label{
    color:#333;
}

div.sm-boolean-switch.on.red a.sm-boolean-switch-inner span.sm-boolean-switch-on-label{
    color:#fff;
}

a.sm-boolean-switch-inner span.sm-boolean-switch-off-label{
    color:#666;
}

div.sm-numeric-slider{
    width:350px;
    height:6px;
    display:inline-block;
    position:relative;
}

div.sm-numeric-slider-handle{
    width:13px;
    height:13px;
    cursor:move;
    position:absolute;
    top:-3px;
}

div.image-picker-caption{
    max-width:400px;
}

@media screen and (max-width: 1100px){
    
    div.form-section-label{
    	width:150px;
    }
    
    div.edit-form-sub-row{
        padding-left:165px;
    }
    
    div.form-hint{
        padding:1px 6px 6px 165px;
    }
    
    div.edit-form-row input[type="text"], div.edit-form-row input[type="password"], div.special-box input[type="text"], table.info-table tr td input[type="text"]{
    	width:300px;
    }

    div.edit-form-row select{
    	width:280px;
    }
    
    div.image-picker-caption{
        max-width:300px;
    }
    
}

@media screen and (max-width: 975px){
    
    div.form-section-label{
    	width:120px;
    }
    
    div.edit-form-sub-row{
        padding-left:135px;
    }
    
    div.form-hint{
        padding:1px 6px 6px 135px;
    }
    
    div.edit-form-row input[type="text"], div.edit-form-row input[type="password"], div.special-box input[type="text"], table.info-table tr td input[type="text"]{
    	width:250px;
    }

    div.edit-form-row select{
    	width:230px;
    }
    
    div.image-picker-caption{
        max-width:250px;
    }
    
}

/*** Special and warning boxes ***/

div.special-box, div.warning{
    clear:both;
}

div.special-box-key{
    width:100px;
    float:left;
    padding-top:3px;
}

div.special-box select{
    width:250px;
}

div.warning{
    padding:10px;
    margin:10px 0 10px 0;
}

div.warning p, div.special-box p{
    margin:0 0 5px 0;
}

div.warning p:last-child, div.special-box p:last-child{
    margin-bottom:0px;
}

div.warning ul{
    margin:0px;
    padding:0 0 0 20px;
}

div.warning ul.location-list, div.special-box ul.location-list{
    list-style-type:none;
    padding:0px;
}

div.warning ul.location-list i.fa, div.special-box ul.location-list i.fa{
    margin:0 3px 4px 0;
}

form.float{
    float:left;
    display:inline;
}

div#footer{
	text-align:center;
	float:left;
	width:100%;
}

/*** Action buttons below each property on edit item screen ***/

ul.item_property_actions{
    margin:0px;
    padding:0 0 0 198px;
    height:31px;
    clear:left;
}

ul.item_property_actions li{
    margin:3px 5px 0 0;
    float:left;
}

ul.item_property_actions li a{
    padding:4px;
    display:block;
}

ul.item_property_actions li a img, ul.item_property_actions li a i{
    display:block;
		width:16px;
		height:16px;
}

ul.item_property_actions li a i{
	text-align:center;
}

/** List of sites just after log-in **/

ul.apps{
    margin:0px;
    padding:20px 0 0 0;
}

ul.apps li{
    width:190px;
    display:block;
    float:left;
    text-align:center;
    margin-bottom:30px;
    position:relative;
    min-height:170px;
}

ul.apps.small li{
    width:150px;
    min-height:125px!important;
    margin-bottom:15px;
}

ul.apps li a.icon{
    margin-top:5px!important;
    width:120px;
    height:120px;
    /* margin-top:2px!important; */
    display:inline-block;
    text-align:center;
    margin-bottom:15px;
    position:relative;
}

ul.apps.small li a.icon{
    width:80px;
    height:80px;
}

ul.apps li a.icon:hover{
    margin-top:2px!important;
    width:126px;
    height:126px;
    margin-bottom:10px;
}

ul.apps.small li a.icon:hover{
    margin-top:2px!important;
    width:86px;
    height:86px;
}

ul.apps li a.icon i{
    display:inline-block;
    margin-top:29px;
    font-size:4.5em;
    color:#fff;
}

ul.apps.small li a.icon i{
    display:inline-block;
    margin-top:17px;
    font-size:3.5em;
    color:#fff;
}

ul.apps li a.icon i.fa{
    padding-top:3px;
}

ul.apps li a.icon:hover i{
    margin-top:32px;
}

ul.apps.small li a.icon:hover i{
    margin-top:20px;
}

ul.apps li a.label{
    position:absolute;
    left:0px;
    top:140px;
    width:100%;
}

ul.apps.small li a.label{
    position:absolute;
    left:0px;
    top:100px;
    width:100%;
}

/*** Asset preview ***/

#html-preview{
    margin-bottom:10px;
}

#html-preview p:last-child{
    margin-bottom:0px;
}

#html-preview pre{
    margin:0px;
}

#html-preview div.smartest-column{
    float:left;
    margin-right:10px;
}

#html-preview h1, #html-preview h2, #html-preview h3, #html-preview h4, #html-preview h5, #html-preview h6, #html-preview p{
    margin-top:0px;
}

#html-preview div.smartest-column.last{
    margin-right:0px;
}

#html-preview div.column-width-2{
    width:48%;
}                
                 
#html-preview div.column-width-3{
    width:31%;  
}                
                 
#html-preview div.column-width-4{
    width:23%;
}

/** Other list styles **/

ul.basic-list{
    list-style-type:disc;
    padding:10px;
    margin:15px;
    margin-top:5px;
    padding-top:0px;
    margin-left:40px!important;
}

ul.basic-list li{
    padding:4px;
}

ul.scroll-list{
    overflow-y: scroll;
    margin:0px;
    padding-left:25px;
}

ul.authors-list{
    list-style-type:none;
    margin:0px;
    padding:0px;
}

ul.authors-list li{
    height:71px;
    clear:both;
    background-color:#fff;
}

ul.authors-list li input[type="checkbox"]{
    display:none;
}

ul.authors-list li a{
    display:block;
    padding:5px;
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    transition: all 0.3s;
    color:#ccc;
    border-bottom:1px solid #ccc;
}

ul.authors-list li a.selected{
    background-color:#68849E;
    color:#fff;
    border-bottom:1px solid #fff;
}

ul.authors-list li a div.user-avatar-holder{
    
    display:block;
    float:left;
    width:60px;
    height:53px;
    
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -o-border-radius:30px;
    overflow:hidden;
    
    text-transform:uppercase;
    font-size:3em;
    font-family:"source-sans";
    text-align:center;
    padding-top:7px;
    
    opacity: 0.4;
    -moz-opacity: 0.4;
    -webkit-opacity: 0.4;
    filter: alpha(opacity=40);
    
    
    /* line-height:1em; */
    
}

ul.authors-list li a.selected div.user-avatar-holder{
    opacity: 1.0;
    -moz-opacity: 1.0;
    -webkit-opacity: 1.0;
    filter: alpha(opacity=100);
}

ul.authors-list li a div.user-name-holder-outer{
    float:left;
    display:block;
    height:60px;
    padding-left:10px;
}

ul.authors-list li a div.user-name-holder-inner{
    display:table-cell;
    height:60px;
    vertical-align:middle;
    font-size:1.8em;
    font-family:"source-sans";
}

/*** Comments list ***/

#comments-list{
    padding:0px;
    margin:0px;
    list-style-type:none;
}

#comments-list li{
    padding:5px;
    box-sizing:border-box;
}

#comments-list li div.comment-user-avatar{
    box-sizing:border-box;
    width:40px;
    height:40px;
    background-repeat:no-repeat;
    float:left;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    text-align:center;
    font-family:"source-sans";
    font-size:2em;
    padding-top:3px;
    background-size:40px 40px;
}

#comments-list li div.comment-content{
    float:left;
    width:calc(100% - 45px);
    margin-left:5px;
}

/*** Favourites bar ***/

#smartest-favourites.open{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    z-index:25;
}

#smartest-favourites.closed{
    position:fixed;
    left:0px;
    bottom:0px;
    width:24px;
    height:24px;
    z-index:25;
}

#smartest-favourites.closed ul{
    display:none;
}