@font-face {
    font-family: "source-sans";
    src: url(../Fonts/SourceSansPro-Light.otf.woff);
}

html{
    height:100%;
}

body{
    background-color: #333;
    color: #000;
    margin: 0px;
    padding: 7em 0 0 0;
    font: 13px "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    height:100%;
    -moz-box-shadow: inset 0 0 15em rgba(0,0,0,0.3);  
    -webkit-box-shadow: inset 0 0 15em rgba(0,0,0,0.3);   
    box-shadow: inset 0 0 15em rgba(0,0,0,0.3);
    box-sizing:border-box;
}

body.slowchange{
    transition:background-color 12s;
}

body.blue{
    background-color: #6AA9FC;
}

body.magenta{
    background-color: #E344CD;
}

body.orange{
    background-color: #F7A423;
}

body.red{
    background-color: #F54E4E;
}

a img{
    border:0px;
}

#logo{
    cursor:pointer;
    margin-right:30px;
}

#login {
    
    background: rgba(255,255,255,0.7);
    
    margin: 0 auto 12px auto;
    width: 350px;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    
    box-shadow:0 6px 25px rgba(0,0,0,0.15);
    -moz-box-shadow:0 6px 25px rgba(0,0,0,0.15);
    -webkit-box-shadow:0 6px 25px rgba(0,0,0,0.15);
    
    /* -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px); */
    
    -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s;
    
}

#login-inner{
    text-align:center;
    margin:0 2.1em 0 2.1em;
    padding:20px 0 20px 0;
}

#login h1 {
    margin-top: 0;
}

#login h1 a {
    display: block;
    height: 20px;
    border-bottom: none;
}

#login input {
    padding: 3px;
}

#login p{
    color:#666;
    text-align:left;
    margin-bottom:4px;
}

input[type="text"], input[type="password"]{
    border: 1px solid #ccc;
    color: #000;
    font:  13px Verdana, Arial, Helvetica, sans-serif;
    margin: 1px;
    padding: 3px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    /* width: 325px; */
}

input:focus{
    outline:none;
}

#username, #password {
    font-size: 1.4em;
    width: 95%;
}

#submit {
    font-size: 1.4em;
}

#submit-button{
    
    color:#fff!important;
    background-color:#68849E;
    text-decoration:none;
    border:1px solid #68849E;
    
    display:inline-block;
    padding:2px 9px;
    border-radius:12px;
    -moz-border-radius:12px;
    
    -webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s;
    
}

#submit-button:hover{
    background-color:#fff;
    color:#68849E!important;
}

#footer{
  padding-top:5px;
  text-align:center;
  font-size:0.7em;
  color:#444;
  /* text-shadow: 1px 2px 2px #000; */
}