.modal-outer{
    position:fixed;
    z-index:100;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    padding-top:90px;
    background-color:rgba(30, 30, 30, 0.37);
}

.modal{
    
    width:550px;
    height:350px;
    background-color:#fff;
    /* border:3px solid #ccc; */
    position:relative;
    
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    
    border-radius:12px;
    -moz-border-radius:12px;
    
    box-shadow: 0px 10px 22px #444;
    -moz-box-shadow: 0px 10px 22px #444;
    -webkit-box-shadow: 0px 10px 22px #444;
    
}

.modal h1{
    margin:0 0 10px 0;
    font-size:20px;
}

.modal h2{
    margin:0 0 8px 0;
    font-size:16px;
}

.modal ul{
    padding:0px;
    margin:0 0 6px 20px;
}

.modal li{
    margin:0 0 3px 0;
    font-size:12px;
}

.modal p{
    margin:0 0 6px 0;
    font-size:12px;
}

.modal p.small{
    margin:0 0 6px 0;
    font-size:10px;
    color:#666;
}

.modal p.editable{
    font-size: 18px;
    width:auto;
    overflow:hidden;
}

.modal-updater{
    height:320px;
    width:525px;
    margin-top:25px;
    overflow:hidden;
}

.modal-updater h1{
    font-family:"source-sans";
    color:#666;
}

.modal-scrollbar-track {  
    position:absolute;  
    top:40px;  
    right:12px;  
    height:315px;  
    width:14px;  
    cursor:move;
    -moz-border-radius: 7px;  
    -webkit-border-radius: 7px;
    background-color:#ddd;
}
 
.modal-scrollbar-handle {  
    width:14px;  
    /* background-color:#5c92e7;  */
    background-color:#666;
    cursor:move;  
    -moz-border-radius: 7px;  
    -webkit-border-radius: 7px;  
    opacity:0.9;  
    -moz-opacity:0.9;  
}

.modal-title-bar{
    position:absolute;
    top:4px;
    left:0px;
    width:562px;
    color:#999;
    font-size:14px;
}

.modal-title-bar h2{
    font-weight:bold;
    text-align:left;
    color:#666;
    font-size:1.5em;
    padding-left:10px;
    font-family:"source-sans";
}

a.modal-closer{
    float:right;
    width:23px;
    height:23px;
    background-image:url(../Images/close_button_out.png);
    display:inline-block;
    margin-top:6px;
}

a.modal-closer:hover{
    background-image:url(../Images/close_button_over.png);
}

/* a.sm-help-link{
    margin-top:1px;
    color:#fff!important;
    background-color:#999;
    display:inline-block;
    padding:2px 5px 2px 5px;
    border-radius:10px;
    -moz-border-radius:10px;
    font-size:12px;
}

a.sm-help-link:hover{
    background-color:#F4842A!important;
    text-decoration:none;
} */

div#modal-work-area{
    font-size:12px;
}

div#modal-work-area h3{
    display:none;
}

div#modal-work-area div.edit-form-row{
    border:0px;
    padding:0px;
}

div#modal-work-area div.edit-form-row input[type="password"], div#modal-work-area div.edit-form-row input[type="text"]{
    width:300px!important;
}

div#modal-work-area div.edit-form-row select, div#modal-work-area div.edit-form-row select{
    width:300px!important;
}

div#modal-work-area div.form-section-label{
    border-radius:4px;
    -moz-border-radius:4px;
    width:140px;
}

div#modal-work-area div.buttons-bar{
    background:none;
    border:0px;
}

ul.modal-basic-list{
    list-style-type:none;
    /* list-style-image:url('../Images/generic_bullet.gif'); */
    padding:5px 10px 5px 5px;
    margin:5px 5px 5px 0;
}

/** When options are shown in a grid via a modal, such as in the "Create" dialog **/

ul.modal-options-grid{
    list-style-type:none;
    margin:0px!important;
    padding:0px!important;
}

ul.modal-options-grid li{
    width:120px;
    height:120px;
    float:left;
    margin:0 0 3px 3px;
    text-align:center;
    background-repeat:no-repeat;
    background-position:50% 25%;
    color:#666;
}

ul.modal-options-grid li a{
    width:120px;
    height:20px;
    display:block;
    padding-top:100px;
    color:#666;
}

ul.modal-options-grid li.create-modal-item{
    background-image:url(../Images/create-new-item.png);
}

ul.modal-options-grid li#create-modal-option-page{
    background-image:url(../Images/create-new-page.png);
}

ul.modal-options-grid li#create-modal-option-file{
    background-image:url(../Images/create-new-file.png);
}

ul.modal-options-grid li#create-modal-option-filegroup{
    background-image:url(../Images/create-new-filegroup.png);
}

ul.modal-options-grid li#create-modal-option-template{
    background-image:url(../Images/create-new-template.png);
}

ul.modal-options-grid li#create-modal-option-model{
    background-image:url(../Images/create-new-model.png);
}

ul.modal-options-grid li#create-modal-option-set{
    background-image:url(../Images/create-new-dataset.png);
}

ul.modal-options-grid li#create-modal-option-user{
    background-image:url(../Images/create-new-user.png);
}

ul.modal-options-grid li#create-modal-option-site{
    background-image:url(../Images/create-new-site.png);
}

ul.file-thumbnails{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

ul.file-thumbnails li{
    float:left;
    width:100px;
    height:100px;
    margin:0 5px 5px 0;
    background-size:100px 100px;
    overflow:hidden;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

ul.file-thumbnails li a{
    display:block;
    width:100px;
    height:100px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    text-decoration:none;
    box-sizing:border-box;
}

ul.file-thumbnails li a.selected{
    border:3px solid #f90;
}

ul.file-thumbnails li a span.image-info{
    -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.3s, filter 0.3s;
    opacity: 0.0;
    filter: alpha(opacity=0);
    display:block;
    width:100px;
    height:100px;
    box-sizing:border-box;
    background-color:#fff;
    color:#333;
    padding:10px;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
}

ul.file-thumbnails li a.selected span.image-info{
    padding:7px;
    width:94px;
    height:94px;
}

ul.file-thumbnails li a:hover span.image-info{
    opacity: 0.75;
    filter: alpha(opacity=75);
}

ul.file-thumbnails li.add a{
    color:#444;
    box-sizing:border-box;
    padding-top:18px;
    text-align:center;
}

ul.file-thumbnails li.add a:hover{
    text-decoration:none;
}

ul.file-thumbnails li.add a i{
    color:#fff;
    background-color:#bbb;
    display:block;
    width:36px;
    height:36px;
    box-sizing:border-box;
    padding-top:0px;
    margin-bottom:8px;
    font-size:2.3em;
    border-radius:23px;
    -webkit-border-radius:23px;
    -moz-border-radius:23px;
	margin-left:auto;
	margin-right:auto;
    clear:both;
    font-style:normal;
    font-family:"source-sans";
    -webkit-transition: all 0.2s;
}

/*** Retina display stuff ***/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    
    a.modal-closer{
        background-image:url(../Images/close_button_out_2x.png);
        background-size:23px 23px;
    }

    a.modal-closer:hover{
        background-image:url(../Images/close_button_over_2x.png);
    }
    
}